<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.twirling.demo">

    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- The app has largeHeap enabled which is required for loading large files. -->
    <application
        android:allowBackup="true"
        android:label="PlayerSDK"
        android:largeHeap="true"
        android:supportsRtl="true"
        tools:replace="android:label">
        <!-- This demo is singleTask since it makes launching via custom adb intents easier. -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat">
            <intent-filter>
                <!-- Primary intent when launching from the home screen -->
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>